# pliki ktorych nie chce
*.o
*.obj
*.elf
*.a
*.so
*.so.*
*.out






# github
# https://github.com/miernota/naukaC.git

# bitbucket
# git remote add bitbucket 'https://galicius@bitbucket.org/galicius/naukac.git'

# gitlab
# https://gitlab.com/miernota/naukaC.git
